* {margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

    /* Header- Logo  */

header{background-color: white;
}

body{
    background-color:rgb(241, 241, 241);
}

#logo{;padding-top: 1%;
       padding-left:1%;
       padding-bottom:1%;
       vertical-align:middle;
}

#text-logo{
    font-size: 250%;
    vertical-align:middle;
}

h1{
    display: inline;
}


/* Body */

.conteiner{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 3%;
    border-radius: 20px;
    background-color: white
}

#add-task{
    background-color: rgb(0, 125, 183);
    padding: 0.7%;
    border-radius: 10px;
    color: aliceblue;
}


section{
    padding:1%;
}

#add-section{
    color:silver;
    border: 1px solid silver; 
    padding: 0.7%;
    border-radius: 10px;
}

hr{
    margin-top: 2%;
}
.refuse,.check{
    border-radius: 50%;
    padding-left: 3px;
}

.check{
    color: rgb(30, 184, 30);
    border: 1px solid green;
}

.refuse{
    color:red;
    border: 1px solid red;
}

.arrow{
    font-size: 55%;
    vertical-align: middle;
}
section div {
padding-bottom: 2%;
}

/* Colors  */

.blue,.violet,.green,.orange{
    padding: 8px;
    border-radius: 14px;
    color: white;
    font-size: 10px;
}

.blue{
    background-color: rgb(0, 174, 255);
}

.violet{ 
    background-color: violet;
}

.green{ 
    background-color: green;
}

.orange{ 
    background-color: orange;
}



